td {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

:root {
  background-color:white;
}


@media screen and (max-width: 768px) {
  .MuiTableCell-root {
    padding: 2px;
    font-size: 12px;
  }

  .MuiTableContainer-root {
    max-width: 100%;
  }

  .MuiTable-root {
    font-size: 12px;
  }
}
